// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: 'Rubik', sans-serif
  font-weight: normal
  font-size: 16px
  color: #282828

h1
  font-size: 56px
  font-weight: bold

h2
  font-size: 45px
  color: #273238
  font-weight: 500


h3
  font-size: 22px
  font-weight: 500


h4
  font-size: 18px


h5

a
  color: #000
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


  
.content
  min-height: calc(100vh - 189px)


.justify-align
  display: flex
  justify-content: space-between
  align-items: center

.left-align
  display: flex


.right-align
  display: flex
  justify-content: flex-end

.center-align
  display: flex
  justify-content: center
  align-items: center


.flex
  display: flex
  flex-wrap: wrap

.color-white
  color: #fff

.color-red
  color: $red

.color-blue
  color: $blue

*::-webkit-input-placeholder 
  color: #000
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease

*:-moz-placeholder 
  color: #000
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*::-moz-placeholder 
  color: #000
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*:-ms-input-placeholder 
  color: #000
  font-size: 14px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease




.sprite
  position: relative
  display: inline-block

.sprite::before
  content: ''
  background-image: url(../img/spritesheet.png)
  background-repeat: no-repeat
  display: block

.sprite-cross::before
  width: 11px
  height: 11px
  background-position: -5px -5px

.sprite-new::before
  width: 65px
  height: 65px
  background-position: -26px -5px

.sprite-telegram::before
  width: 18px
  height: 16px
  background-position: -101px -5px

.sprite-underline::before
  width: 178px
  height: 9px
  background-position: -5px -80px

.sprite-viber::before
  width: 18px
  height: 18px
  background-position: -129px -5px

.sprite-video-call::before
  width: 58px
  height: 93px
  background-position: -193px -5px

.sprite-whatsapp::before
  width: 18px
  height: 18px
  background-position: -157px -5px