@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	background: #4b5b64

	&-wrap
		display: flex
		align-items: center
		justify-content: space-between
		padding: 10px 0 20px
		color: #fff
		border-bottom: 1px solid #5d6c74


	&-contasts

		&__tel
			display: block
			margin-bottom: 10px
			font-size: 22px
			font-weight: bold
			color: #fff

			.sprite
				margin-left: 5px

		&__address
			list-style: none
			text-align: right

			li
				color: #fff
				font-weight: 300

				a
					color: #fff
					text-decoration: underline



.logo
	display: flex
	align-items: center
	font-size: 34px
	font-weight: bold

	>img
		margin-right: 5px

	>span
		padding-left: 5px



.main-menu
	list-style: none

	>li
		display: inline-block
		padding: 0 19px

		&.active

		>a
			display: inline-block
			padding: 5px 0
			font-size: 16px
			color: #fff
			text-transform: uppercase

			&.active
				color: $red



.banner
	min-height: 904px
	background: url(../img/banner-bg.jpg) no-repeat center
	background-size: cover
	&-wrap
		display: flex
		justify-content: space-between

	&-text
		padding: 80px 0 0
		max-width: 590px

		h1
			margin-bottom: 50px
			color: #fff

			>span
				font-size: 51px
				font-weight: normal

		&__description
			font-size: 19px
			color: #fff
			font-weight: 300

			>strong
				color: $red
				font-size: 24px
				font-weight: bold

	&-form
		position: relative
		padding-top: 120px
		width: 390px

		&__info
			position: absolute
			left: -265px
			bottom: 15%
			width: 265px
			padding: 25px 10px 25px 25px
			display: flex
			justify-content: space-between
			background: #fff
			z-index: 10
			border-radius: 6px 0 0 6px

			&::before
				content: ''
				position: absolute
				width: 205px
				height: 95px
				right: 0
				top: -95px
				background: url(../img/money.png) no-repeat

			&--icon
				margin-right: 16px
				font-size: 72px
				line-height: 58px
				font-weight: bold
				color: $green

			&--text

				>span
					display: block
					font-size: 23px
					line-height: 30px
					color: #404040

				>strong
					display: block
					font-size: 21px
					font-weight: bold
					text-transform: uppercase
					color: $green


.uppercase
	text-transform: uppercase

.form


	&-express
		padding: 0 35px 35px
		border: 1px dashed #fff
		border-radius: 10px

		h3
			position: relative
			max-width: 246px
			margin: 0 auto
			top: -13px
			padding: 0 10px
			background: #4b5b64
			font-size: 21px
			font-weight: bold
			text-align: center
			color: #fff
			z-index: 10

	&-item
		margin-bottom: 20px

		&__wrap
			display: flex
			justify-content: space-between

		&__model
			width: 58%

		&__year
			width: 38%

		label
			display: block
			margin-bottom: 6px
			font-size: 19px
			color: #a5b0b6
			font-weight: 300

		&__input
			height: 38px
			padding: 0 10px
			width: 100%
			line-height: 38px
			background: #fff
			border: none
			outline: none
			border-radius: 4px

	.btn
		width: 100%
		margin-top: 30px


.attach

	&__header
		margin-bottom: 6px
		font-size: 19px
		color: #a5b0b6
		font-weight: 300

.attach__item


	&:last-of-type
		margin-bottom: 0px
		border-bottom: none

.attach__up
	display: inline-block
	padding: 9px 30px
	border: 1px solid #a5b0b6
	cursor: pointer
	font-size: 16px
	font-weight: 500
	color: #a5b0b6
	text-transform: uppercase
	border-radius: 4px

.attach__edit, .attach__delete
	display: none
	margin-right: 10px
	cursor: pointer

.attach__edit
	color: #2f7dfe
	

.attach__delete
	color: #f00

.attach__item--attached
	width: 50%
	margin-bottom: 10px
	.attach__up
		display: none
	.attach__delete
		position: relative
		top: 1px
		display: inline-block
		vertical-align: middle



.attach__input
	display: none

.attach__name
	display: inline-block
	vertical-align: middle
	font-weight: 300
	color: #fff



.btn
	display: inline-block
	padding: 10px 30px
	border-radius: 4px
	border: none
	outline: none
	font-size: 16px
	font-weight: 500
	color: #fff
	background: #e9433f
	text-align: center

	&-blue
		padding: 12px 50px
		background: #1aa8e0



.section
	padding: 55px 0 50px

	h2
		margin: 0 0 35px
		text-align: center



.buy
	padding-top: 0

	&-block

		.row
			margin-left: -7px
			margin-right: -7px

			[class^="col"]
				padding-left: 7px
				padding-right: 7px

		&__item
			padding: 20px 20px
			min-height: 382px
			margin-bottom: 14px
			background: #eff4f6

			&--middle
				min-height: 233px

			&--small
				min-height: 120px

			h3
				margin-bottom: 20px
				font-size: 20px
				line-height: 21px
				font-weight: bold
				color: #273238

			p
				font-size: 15px
				color: #4a565c
				font-weight: 300

			img
				display: block
				margin-bottom: 20px



.call

	&-block
		padding: 60px 0 60px
		min-height: 494px
		background: url(../img/call-bg.png) no-repeat center top
		background-size: cover
		

		&__wrap
			display: flex
			justify-content: space-between

		&__left
			h2
				margin-bottom: 30px
				font-size: 45px
				font-weight: 300
				color: #273238

			.bg-grey
				padding-left: 10px
				padding-right: 10px
				color: #417c9d

		&__right
			position: relative
			width: 470px
			padding: 35px 35px 0 100px
			background-image: linear-gradient(bottom, rgba(256,256,256,0), rgba(256,256,256,.3))
			z-index: 10
			box-shadow: 30px -21px 30px -12px rgba(0,0,0,0.15)

			&::before
				content: ''
				position: absolute
				right: -8px
				top: -8px
				width: 65px
				height: 65px
				background-position: -26px -5px
				background-image: url(../img/spritesheet.png)
				background-repeat: no-repeat

		&__video
			position: relative

			&::before
				content: ''
				position: absolute
				left: -75px
				top: 0
				width: 58px
				height: 93px
				background-position: -193px -5px
				background-image: url(../img/spritesheet.png)
				background-repeat: no-repeat
			>span
				display: block
				font-size: 24px
				color: #273238
				font-weight: 300

			>strong
				display: block
				margin-bottom: 30px
				font-size: 30px
				color: #273238

			>a
				display: inline-block
				font-size: 30px
				color: #273238
				font-weight: bold



.bg-grey
	background: #cedbe0
	


.advantages
	padding: 30px 0 20px

	&-wrap
		display: flex
		justify-content: space-between

	&-block
		width: 45%

	&-item
		height: 150px
		padding-bottom: 10px

		h3
			margin-bottom: 15px
			color: #c62827

		p
			font-size: 16px
			line-height: 21px
			font-weight: 300




.services
	display: flex
	align-items: center
	min-height: 800px
	background: url(../img/services-bg.png) no-repeat center

	h2
		color: #fff
		font-weight: bold

	&-wrap
		display: flex
		justify-content: space-between

	&-item
		width: 30%
		color: #fff

		&__icon
			height: 90px
			text-align: center

		h3
			min-height: 50px

		p
			font-weight: 300
			color: #aabfca
			line-height: 21px

			>strong
				font-size: 18px
				color: #c62827
				font-weight: 500


.work

	&-wrap
		margin-left: -10px
		margin-right: -10px
		display: flex
		justify-content: space-between

	&-item
		width: 20%
		padding-left: 10px
		padding-right: 10px
		text-align: center

		&__icon
			width: 160px
			height: 164px
			margin: 0 auto 30px
			display: flex
			align-items: center
			justify-content: center
			background: url(../img/work-bg.png) no-repeat

		>span
			display: block
			line-height: 21px



.faq
	background: #eff4f6

	&-item
		border-radius: 3px
		margin-bottom: 3px
		background: #fff
		

		&.active
			
			.faq-header
				color: #c62827
				&:before
					top: 16px
					border-color: #c62827
					transform: rotate(45deg)

	&-header
		position: relative
		padding: 15px 20px 15px 50px
		cursor: pointer
		border-radius: 4px
		font-size: 16px
		font-weight: bold

		&::before
			content: ''
			position: absolute
			top: 19px
			left: 20px
			width: 10px
			height: 10px
			transform: rotate(-45deg)
			border-right: 1px solid #86a5b3
			border-bottom: 1px solid #86a5b3



	&-body
		display: none
		padding: 20px 50px
		border-top: 0

		p
			margin-bottom: 10px
			font-size: 15px
			line-height: 26px

		ul
			padding: 0 0 0 20px
			margin-bottom: 10px

			li
				font-size: 15px
				line-height: 26px




.auto

	&-slider

		&__item
			margin-left: 15px
			margin-right: 15px
			border: 1px solid #d8d8d8
			border-radius: 4px

		&__top
			display: flex

		&__img
			width: 50%

		&__info
			width: 50%
			padding: 30px 20px 0 30px

			h3
				margin: 0 0 20px
				font-size: 24px
				color: #4a5b65

			ul
				margin-bottom: 30px
				list-style: none

				li
					line-height: 21px
					font-weight: 300

		&__price

			&--their
				padding-bottom: 4px
				border-bottom: 1px dotted
				font-weight: 300
				color: #8f8f8f

			&--our
				padding-top: 4px
				color: #c62827
				font-size: 19px
				font-weight: bold


		&__review
			padding: 30px 38px

			h4
				margin-bottom: 15px
				>span
					font-weight: 300
					color: #bababa

				>strong
					color: #396c88

			p
				margin-bottom: 15px
				color: #454545
				font-weight: 300
				font-style: italic

				&:last-of-type
					margin-bottom: 0


.slick-slide
	outline: none


.slick-arrow
	width: 50px
	height: 50px
	top: 45%
	z-index: 10

	&:hover
		opacity: 1

	&::before
		content: ''
		display: block
		width: 50px
		height: 50px
		border-right: 6px solid #eff4f6
		border-bottom: 6px solid #eff4f6
		opacity: 1
		transition: all .3s

.slick-prev
	left: -65px

	&::before
		transform: rotate(135deg)




.slick-next
	right: -65px

	&::before
		transform: rotate(-45deg)



.map
	position: relative
	height: 680px

	&-form
		position: absolute
		left: 100px
		top: 75px
		max-width: 380px

		.form
			position: relative
			background: #fff
			z-index: 100
			box-shadow: 19px 20px 134px 0px rgba(0, 0, 0, 0.41)

			h3
				top: auto
				padding-top: 20px
				margin-bottom: 35px
				color: #273238
				background: #fff

			.form-item__input
				border-radius: 4px
				border: 1px solid #b0b0b0

			.attach__name
				color: #000

			.btn
				background: #c62827

	&-contasts

		.header-contasts__tel
			color: #273238

		.header-contasts__address li
			color: #273238

			a
				color: #273238




#YMapsID
	height: 100%
	width: 100%







.footer
	padding: 40px 0
	background: #273238

	&-copy
		color: #a9a9a9
		font-weight: 300
		text-align: center

		a
			color: #a9a9a9





.content-wrap
	display: flex
	flex-wrap: wrap
	padding: 50px 0 50px

.inner
	&-content
		width: calc(100% - 308px)
		padding-left: 60px

	&-banner
		padding: 40px 0
		display: flex
		flex-wrap: wrap

		&__text
			width: calc(100% - 280px)
			padding-right: 40px

			h2
				margin-bottom: 10px
				font-size: 36px
				font-weight: 300
				color: #fff

			p
				font-size: 19px
				font-weight: 300
				color: #fff

				strong
					font-size: 24px


.express-score
	position: relative
	display: inline-block
	width: 280px
	height: 100%
	padding: 12px 35px 12px 85px
	font-size: 18px
	font-weight: 500
	color: #fff
	background: #e9433f
	border-radius: 4px

	&::before
		content: ''
		position: absolute
		left: 15px
		top: 15px
		width: 47px
		height: 37px
		opacity: .6
		background: url(../img/clock.png) no-repeat


	&:hover, &:focus
		color: #fff






.sidebar
	width: 308px

	&-item
		margin-bottom: 20px
		padding: 22px 25px
		border: 1px solid #d8d8d8

		&__header
			margin-bottom: 25px
			font-size: 20px
			text-transform: uppercase
			color: #b4c1c8

		&__models
			background: #eff4f6

		&__type
			background: #4b5b64

	&-menu
		list-style: none

		>li
			position: relative
			padding: 0 0 0 22px
			margin-bottom: 20px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 2px
				width: 13px
				height: 13px
				background: #4b5b64
				border-radius: 50%
				transition: all .3s

			&::after
				content: ''
				position: absolute
				left: 5px
				top: 5px
				border: 3px solid transparent
				border-left: 4px solid #fff


			&:hover
				>a
					color: #e9433f
				&::before
					background: #e9433f

				


			>a
				font-size: 16px
				color: #4b5b64
				font-weight: normal

				&:hover, &:focus
					color: #e9433f
					opacity: 1

			>ul
				display: none
				padding: 12px 0 10px 20px
				list-style: none

				>li
					position: relative
					margin-bottom: 15px
					padding: 0 0 0 18px

					&::before
						content: '>'
						position: absolute
						left: 0
						top: 2px
						font-size: 12px


					&:last-child
						margin-bottom: 0

					>a
						font-weight: 300
						color: #7c888e
						font-size: 16px

						&:hover
							text-decoration: underline
							opacity: 1


.sidebar-mobile__btn
	display: none
	outline: none
	border: none
	background-color: transparent


	&:hover, &:focus
		opacity: 1

	span
		position: relative
		display: inline-block
		writing-mode: vertical-rl
		text-orientation: upright
		text-transform: uppercase
		max-height: 250px
		font-size: 10px
		padding-bottom: 10px
		padding: 10px 10px 20px
		background: #fff
		border-radius: 2px
		border: 1px solid #eaeaea
		border-left: 0
		z-index: 100

		&::before
			content: '→'
			position: absolute
			left: 0
			bottom: 5px
			font-size: 14px

	&.active
		position: absolute
		right: -33px
		top: -1px
		span
			&::before
				content: '←'

.models-list
	list-style: none

	li
		position: relative
		padding: 0 0 0 25px
		margin-bottom: 18px

		&::before
			content: '➜'
			position: absolute
			left: 0
			top: 1px
			font-size: 12px
			color: #4b5b64
			transition: all .3s

		&:hover
			&::before
				left: 3px
				color: #e9433f

			a
				color: #e9433f
				opacity: 1

		a
			color: #4b5b64
			font-size: 16px

	&__more
		position: relative
		padding: 0 0 0 20px
		color: #e9433f
		background-color: transparent
		font-size: 16px
		border: none
		outline: none

		&::before
			content: ''
			position: absolute
			left: 0
			top: 3px
			width: 7px
			height: 7px
			border-right: 2px solid
			border-bottom: 2px solid
			transform: rotate(45deg)

		&.active
			&::before
				transform: rotate(-135deg)
				top: 7px
	&__hidden
		display: none




.type-list
	list-style: none

	li
		position: relative
		padding: 0 0 0 20px
		margin-bottom: 16px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 5px
			width: 7px
			height: 7px
			border-radius: 50%
			background: #e9433f

		a
			font-size: 16px
			color: #fff


.buyout
	border-bottom: 1px solid #eeeeee

	&-header
		display: flex
		flex-wrap: wrap

		h2
			width: calc(100% - 115px)
			font-size: 30px
			font-weight: normal

			span
				font-weight: 300

	&-wrap
		display: flex
		flex-wrap: wrap


		p
			margin-bottom: 40px


.article
	padding: 45px 0 0

	h1
		margin-bottom: 30px
		font-size: 36px


	h2
		margin-bottom: 20px
		font-size: 30px

	h3
		margin-bottom: 40px
		font-size: 21px
		font-weight: 300

	p
		margin-bottom: 20px
		font-size: 16px
		line-height: 22px
		color: #323a3f

	&-list
		list-style: none

		li
			position: relative
			padding: 0 0 0 30px
			margin-bottom: 25px
			line-height: 22px

			&::before
				content: ''
				position: absolute
				left: 0
				top: 3px
				width: 16px
				height: 16px
				background: url(../img/check-ic.png) no-repeat

	&-icons
		display: flex
		margin-bottom: 40px
		list-style: none

		li
			margin-right: 100px

			&:last-child
				margin-right: 0

			img
				display: block
				margin-bottom: 15px

			strong
				font-weight: 500
				font-size: 18px



.step

	&-item
		min-height: 220px

		h3
			font-size: 21px
			margin-bottom: 10px
			font-weight: bold

		p
			font-size: 18px
			margin-bottom: 0

		&__footnote
			position: relative
			padding: 35px
			border: 1px solid #e0e0e0
			border-radius: 6px
			font-weight: 300
			font-size: 18px
			color: #878787
			font-style: italic

			p
				margin-bottom: 0



.triangle 
	display: block
	position: absolute
	width: 0
	top: -74px
	left: 50px
	height: 0
	border: 29px solid transparent
	border-bottom: 45px solid #fff
	border-left: 17px solid #fff

	&::before
		content: ''
		position: absolute
		left: -17px
		top: -29px
		height: 74px
		border-left: 1px solid #e0e0e0

	&::after
		content: ''
		position: absolute
		left: 6px
		top: -36px
		height: 87px
		transform: rotate(-32deg)
		border-left: 1px solid #e0e0e0



.end
	padding: 30px 0 30px

	>h2
		margin-bottom: 10px
		font-size: 24px
		text-transform: uppercase
		color: #2392e0
		font-weight: 500

	p
		margin-bottom: 25px
		font-size: 18px


.end-icons
	padding: 40px 0 0

	h2
		font-size: 30px
		margin-bottom: 25px

	&__item
		max-width: 248px
		margin: 0 auto

	&__img
		width: 160px
		height: 164px
		margin: 0 auto 30px
		display: flex
		align-items: center
		justify-content: center
		background: url(../img/end-icon-bg.png)

	&__text
		text-align: center

		>strong
			display: block
			margin-bottom: 5px
			font-size: 18px

		>span
			font-size: 16px
			line-height: 21px



.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
		opacity: 1
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #fff
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)





.callback-block
	display: none
	position: fixed
	left: 0
	right: 0
	bottom: 0
	width: 100%
	background-color: #4b5b64
	z-index: 100000

.callback-block__wrapper
	display: flex
	flex-direction: row
	justify-content: space-between
	padding: 8px 0

.callback-item
	display: inline-flex
	flex-direction: column
	align-items: center
	vertical-align: middle
	width: 33.33%
	float: left
	text-align: center
	border-right: 1px solid #fff

	> span
		padding-top: 7px
		color: #fff

.callback-block .callback-item:last-child
  border: none

.icon-viber
  display: inline-block
  width: 40px
  height: 28px
  background: url(../img/viber-ic.png)

.icon-whatsapp
  display: inline-block
  width: 40px
  height: 28px
  background: url(../img/whatsapp-ic.png)

.icon-tel
  display: inline-block
  width: 40px
  height: 28px
  background: url(../img/phone-ic.png)



.breadcrumbs
	padding-bottom: 5px
	border-bottom: 1px dotted #eaeaea
	list-style: none

	li
		display: inline-block
		margin-right: -0.03em
		font-size: 14px
		font-weight: 300

		+ li::before
			content: ">"
			padding: 0 10px 0 8px
			font-size: 14px

		a
			position: relative
			font-weight: 300















@media only screen and (max-width: 1300px)
	
	.auto-slider
		max-width: calc(100% - 140px)
		margin: 0 auto







@media only screen and (max-width: 1199px)

	.logo
		>img
			display: none

	.banner-form__info
		display: none














@media only screen and (max-width: 992px)

	.header-contasts__tel
		margin-bottom: 4px
		font-size: 18px

		.sprite
			display: none

	.header-contasts__address li
		font-size: 12px

	.logo
		font-size: 28px

	.main-menu
		>li
			padding: 0 12px
			>a
				font-size: 13px


	.banner
		min-height: auto
		background: transparent

		&-wrap
			padding: 30px 0
			flex-direction: column

		&-text
			padding: 0
			max-width: none

			h1
				margin-bottom: 30px
				font-size: 44px

				span
					font-size: 40px

		&-form
			padding-top: 60px

	.buy
		padding-top: 40px

	.section
		padding: 40px 0

	.work-wrap
		flex-wrap: wrap
		justify-content: flex-start

	.work-item
		width: 33%
		margin-bottom: 20px


	.advantages-item
		height: auto


	.sidebar-mobile__btn
		display: block

	.sidebar-wrap
		display: none

	.inner-content
		width: auto
		padding-left: 30px

		h2
			text-align: center

	.sidebar 
		position: fixed
		left: 0
		width: 280px
		top: 150px

		

		&.active
			position: absolute
			left: 0
			top: 150px
			z-index: 10
			background: #fff
			z-index: 999

			.sidebar-wrap
				display: block


	.inner-banner
		display: block
		padding: 30px 0 30px 35px
		&__text
			padding: 0 0 20px

	.buyout-header
		margin-bottom: 20px
		text-align: center

		img
			display: none

		h2
			width: auto

	.content-wrap
		padding: 40px 0

	.buyout-wrap p
		margin-bottom: 20px

	.article-icons li strong
		font-size: 16px

		br
			display: none

	.article-icons
		display: block

		li
			width: auto
			display: block
			text-align: center
			margin: 0 0 30px

			img
				margin: 0 auto 5px


	.step-item
		min-height: auto
		margin: 0 0 30px


	.step-item__footnote
		margin: 90px 0 30px


	.inner-banner__text
		width: auto

	.express-score
		z-index: 10

	.article
		padding: 30px 0 0



	.content-wrap
		padding: 20px 0


























@media only screen and (max-width: 768px)
	.header
		.header-contasts__address
			display: none

		.header-wrap
			padding: 12px 0

		.header-contasts__tel
			margin: 0
			font-size: 16px
			font-weight: normal

	.logo
		font-size: 22px

		>span
			padding-left: 0

			&.color-red
				padding-left: 5px

	.burger-menu
		display: block

	.main-menu
		display: none
		padding: 10px 0 0
		position: absolute
		left: 0
		right: 0
		top: 52px
		z-index: 99
		background: #4b5b64

		>li
			display: block
			padding: 0
			margin-bottom: 10px

			>a
				display: block
				text-align: center
				font-size: 14px

	.banner-text
		h1
			font-size: 34px
			span
				font-size: 30px

	.banner-text__description
		font-size: 16px

		>strong
			font-size: 18px

	.banner-form
		padding-top: 35px



	.buy-block__item
		min-height: auto

	.call-block__wrap
		flex-direction: column

	.call-block
		padding: 40px 0 40px
		min-height: auto
		background: #eff4f6
		text-align: center

	.call-block__left
		padding-bottom: 30px
		h2
			margin-bottom: 20px
			font-size: 36px

	.banner-form
		margin: 0 auto

	h2
		font-size: 34px

	.call-block__right
		width: auto

	.advantages-wrap
		flex-direction: column

	.advantages-block
		width: 100%

	.advantages-item
		margin-bottom: 10px

		h3
			margin-bottom: 5px
			

	.services
		min-height: auto
		background: #4B5B64

	.services-wrap
		display: block

	.services-item
		width: auto
		margin: 0 auto 50px
		max-width: 290px
		text-align: center

		&__icon
			margin-bottom: 10px
			height: auto

	.work-item
		width: 48%

	.auto-slider
		width: auto
		max-width: calc(100% - 60px)

	.auto-slider__top
		display: block

	.auto-slider__img
		width: auto

	.auto-slider__info
		width: auto

	.map-form
		display: none

	.slick-arrow
		width: 30px
		height: 30px

		&::before
			width: 30px
			height: 30px
			border-right: 3px solid #eff4f6
			border-bottom: 3px solid #eff4f6

	.slick-prev
		left: -30px

	.slick-next
		right: -30px


	.footer
		padding: 15px 0 75px

	.callback-block
		display: block

	.express-score
		width: 250px
		font-size: 14px

		&::before
			top: 11px

	.end-icons__item
		margin-bottom: 30px

















@media only screen and (max-width: 479px)
	
	.banner-form
		width: auto

	.call-block__left h2
		font-size: 26px

	.call-block__right
		padding: 35px 20px 0 20px

	.call-block__video::before
		right: 0
		left: 0
		margin: auto

	.call-block__video>a
		font-size: 28px

	.call-block__video
		padding: 110px 0 0

		>strong
			font-size: 24px
			margin-bottom: 15px

	.form-express
		padding: 0 20px 30px

	.work-item__icon
		width: 120px
		height: 120px
		background-size: cover

		img
			transform: scale(.7)

	.work-item>span
		font-size: 12px
		line-height: normal


	.slick-arrow
		top: 15%
		&::before
			border-right: 3px solid #000
			border-bottom: 3px solid #000

	.slick-prev
		left: 0

	.slick-next
		right: 0

	.auto-slider
		max-width: none

		img
			margin: 0 auto

	.map
		height: 300px

	.auto-slider__review
		padding: 20px

	.auto-slider__info
		padding: 30px 20px 0 20px

	.inner-banner__text h2
		font-size: 30px

	.inner-banner__text p
		font-size: 16px
		strong
			font-size: 18px